---
layout: default
title: ""
description: '"The words of the Lord are pure words; As silver tried in a furnace on the earth, refined seven times."'
---

<ul class="article-list">
  {% for post in paginator.posts %}
    <li class="article-list-item">
      <a href="{{ post.url | relative_url }}">
        <h5>
          {{ post.title }}
        </h5>
      </a>
      {% include article/info-footer.html post=post %}
    </li>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <li class="article-pagination {% if site.settings.scrollappear_enabled %}scrollappear{% endif %}">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
